<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 offset-sm-1 mt-4">
			<h3> You do not have any items in the cart! </h3>
			<table class="table"
				<thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Name</th>
			      <th scope="col">Price</th>
			      <th scope="col">img</th>
			    </tr>
				</thead>
			</table>
		</div>
	</div>
</div>
