/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

h1{
	font-size: 50px;
}
.carousel-item{
    height: 650px;
}
.carousel-item img{
    height: 650px;
    opacity: 1;
}

.profile{
	border-radius: 20px;
}

.navbar{
	height: 100px;
}

.nav-link{
	font-size: 20px;
}

.navbar-brand{
	font-size: 30px;
}

.card{
	display: inline-block;
	width: 18rem;
	margin: 10% 5%;
}

.card-img-top{
	width: 100%;
  height: auto;
  object-fit: contain;
}

.showPic{
	width: 35%;
	height: auto;
}

.product-details{
	padding: 3vw;
}

@media (max-width: 992px) {
	.navbar-collapse{
		visibility: visible;
		z-index: 1000;
		background-color: #0f7599;
	}
}



